<link href='https://css.gg/undo.css' rel='stylesheet'>
<link href='https://css.gg/redo.css' rel='stylesheet'>
<section class="todoapp" *ngIf="obsTodoList | async as TDL">
    <header class="header">
      <h1>Todo List</h1> <!-- Le label de la liste -->
      <form (ngSubmit)="append(newLabel.value)">
        <input  #newLabel
                name        = "newTodoInput"
                class       = "new-todo"
                placeholder = "Que faire?"
                autofocus #lab/>
      </form>
    </header>
    <section class="main">
          <input  class="toggle-all"
              type="checkbox"
              name="toggleAll"
              
          />
          <label for="toggleAll">Mark all as complete</label>
  
  
      <ul class="todo-list">
        <li
          *ngFor="let item of TDL.items"
          [class.editing]="monItem.editing"
          [class.completed]="item.isDone"
        >
        <app-todo-item
          [data]="item" 
          (update)="updateItem(item, $event)"
          (remove)="delete(item)"
          #monItem
        >
      </app-todo-item>
        </li><!-- Inclure les todoitem ici (dans des balises li) -->
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"  *ngIf="obsTodoList|async as TDL"><strong>{{countNDone(TDL)}}</strong> restantes</span>
      <ul class="filters">
        <li>
          <a class="filterAll">Tous</a>
        </li>
        <li>
          <a class="filterActives">Actifs</a>
        </li>
        <li>
          <a class="filterCompleted">Complétés</a>
        </li>
      </ul>
      <button class="clear-completed">Supprimer cochées</button>
    </footer>
   <br/>
  
  <button class="clear-completed" (click)="undo()">Annuler<i class="gg-undo"></i></button>
  <button class="clear-completed" (click)="redo()">Rétablir<i class="gg-redo"></i></button></section>